.collection{
    color:black;
    position: sticky;
    background-color: white;
    top:66px;
    z-index: 100;
    font-weight: bold;
    transition: all 0.3s;
    padding:10px;
    width:100%;

}

.container{
    position: relative;
}
.collection li{
    padding:5px;
    border-radius: 2px;
    position: relative;
    color:black;
}
.collection ul{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.topNav{
    height: 1px;
    visibility: hidden;
    width: 100%;
    background: white;
}
.stickyState{
    margin:0px auto;

}


.collection li:hover::after{
    content: '';
    position: absolute;
    padding:3px;
    border-radius: 50%;
    background-color: black;
    left:50%;
    top:100%;
    transform: translate(-50%,-50%);
  }
  .toggler{
    position: absolute;
    transition: all 0.5s;
    transform-origin: center;
    left:120%;
    top:50%;
    width:500px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
    transform: translate(-50%,-50%);
}
/* 
@media only screen and (max-width: 600px) {
      .collection{
          transform: translateX(-100%);
          display:flex;
          width:30%;
          transition: all 0.3s;
      }
      .collection ul{
          display:flex;
          flex-direction:column;
          justify-content: center;
          align-items:flex-start;
      }
      .collection ul li{
          margin-bottom: 5px;
      }
      .collection ul::after{
          display: block;
      }
  }
  .moveRight{
      transform:translateX(0%);
  }
  .togglerRotate{
      transform:rotate(180deg);
  } */

.stickyState{
    color:white;
    position: sticky;
    background-color: rgb(49, 49, 49);
    top:66px;
    z-index: 100;
    font-weight: bold;
    transition: all 0.3s;
    padding:10px;
    width:100%;

}


.stickyState li{
    padding:5px;
    border-radius: 2px;
    position: relative;
    color:white;
}
.stickyState ul{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
}


.stickyState li:hover::after{
    content: '';
    position: absolute;
    padding:3px;
    border-radius: 50%;
    background-color: black;
    left:50%;
    top:100%;
    transform: translate(-50%,-50%);
  }
.stickyState ul .activeee::after{
    color:white;
}