.Images-List {
  padding: 10px;
  padding-top: 40px;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1px 20px;
  grid-auto-rows: 10px; */
  column-count: 4 ;
  column-width: 300px;
  column-gap: 20px;
}
.Images-List img {
  margin-bottom: 20px ;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 1px 2px 5px var(--background);

}

@media only screen and (max-width: 600px) {
  .Images-List {
   column-count: 2;
   column-width: 110px;
   column-gap:10px;
  }
  .Images-List img{
    margin-bottom: 10px;
  }
}
.lazyload {
  filter: blur(8px);
  transition: all 1s ease;
}
.lazyload.loaded {
  opacity: 1;
  filter: blur(0);
}
