.Toolbar{
position: fixed;
top: 0;
left: 0;
width: 100%;
background:transparent;
padding:6px 10px;
z-index: 100;
color:white;
}

.Toolbar_Navigation {
display: flex;
height: 100%;
align-items: center;
padding: 0.5rem 1rem;
}
.Toolbar_Logo{
    margin-left: 1rem;
}
.Toolbar_Logo a{
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
}
.spacer{
    flex: 1 ;
}
.togglerContainer{
    display: none;
}
.Toolbar_Navigation_Item ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.Toolbar_Navigation_Item li{
    padding: 0 0.5rem;
    margin-right:1rem;
   
}
.Toolbar_Navigation_Item a{
    color: inherit;
    text-transform: capitalize;
    text-decoration: none;
    padding:9px;
    border-radius: 10px;
}

 .Toolbar_Navigation_Item a:hover{
   color:var(--background) !important ;
    border-bottom: 3px solid var(--background);
 }
 @media(max-width: 768px){
     .Toolbar_Navigation_Item{
         display: none;
     }
     .spacer{
         display: none;
     }
     .mobile{
         flex:1;
         display: flex;
         flex-direction: row-reverse;
         justify-content: space-between;
         align-items: center;
     }
     .togglerContainer{
         display: block;
     }
  
 }
 .active{
    color:inherit  ;
    border-bottom: 3px solid var(--background);
    
 }
 .toggler{
    display: block;
    padding-top:1px;
    margin: 3px;
    width: 100%;

}
.togglerFirstChild{
    width:50%;
}
.togglerLastChild{
    width:75%;
}
.customize{
    color: inherit;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    padding:9px;
    border-radius: 10px;
}

.customize:hover{
    color:var(--background) !important ;
    border-bottom: 3px solid var(--background);
}